.apexchart {
  background-color: var(--color-white);
  padding: 25px 25px;
  border-radius: 8px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.apexchart.flex {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.apexchart.flex-top {
  display: flex;
  text-align: center;
  align-items: flex-start;
  justify-content: center;
}
